<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartsInventory.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PartsInventory.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PartsInventory.Settings>
            <setting name="MonitorSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="AspectRatio" serializeAs="String">
                <value>16/9</value>
            </setting>
        </PartsInventory.Settings>
        <PartsInventory.PathSettings>
            <setting name="PartInvoiceDir" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\Electrical\PartInvoices</value>
            </setting>
            <setting name="DigiKeyDir" serializeAs="String">
                <value>DigiKey</value>
            </setting>
            <setting name="MouserDir" serializeAs="String">
                <value>Mouser</value>
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\PartsInventory\settings.json</value>
            </setting>
            <setting name="DatasheetsPath" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\Electrical\Datasheets</value>
            </setting>
            <setting name="AppDataPath" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\PartsInventory</value>
            </setting>
            <setting name="AppDataFileName" serializeAs="String">
                <value>Data.json</value>
            </setting>
            <setting name="BinLocFileName" serializeAs="String">
                <value>BinLocations.json</value>
            </setting>
            <setting name="KiCADProjects" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\Electrical\KiCAD\Designs</value>
            </setting>
            <setting name="BOMs" serializeAs="String">
                <value>C:\Users\Daxxn\Documents\Electrical\Project BOMs</value>
            </setting>
            <setting name="ElectricalCalcExe" serializeAs="String">
                <value>C:\Users\Daxxn\Code\C#\Projects\ElectricalCalculators\ElectricalCalculators\bin\Debug\net6.0-windows\ElectricalCalculators.exe</value>
            </setting>
            <setting name="SaturnPCBExe" serializeAs="String">
                <value>C:\Users\Daxxn\SaturnPCB\PCB Toolkit V8.10.exe</value>
            </setting>
        </PartsInventory.PathSettings>
    </userSettings>
</configuration>